<template>
  <div class="about">
    <h1>This is an about page</h1>
    <ApolloQuery
      :query="require('../graphql/AllUsers.gql')"
    >
      <template slot-scope="{ result: { loading, error, data } }">
        <!-- Loading -->
        <div v-if="loading" class="loading apollo">Loading...</div>

        <!-- Error -->
        <div v-else-if="error" class="error apollo">An error occured</div>

        <!-- Result -->
        <b-list-group v-else-if="data">
          <b-list-group-item v-for="user in data.users_users" :key="user.id">
          {{ `${user.soldier_id}: ${user.first_name} ${user.last_name}` }}
          </b-list-group-item>
        </b-list-group>

        <!-- No result -->
        <div v-else class="no-result apollo">No result :(</div>
      </template>
    </ApolloQuery>

  </div>
</template>
